adf_publish/pipeline/pl_reconsilation_copy1.json
{
	"name": "pl_reconsilation_copy1",
	"properties": {
		"activities": [
			{
				"name": "Load_Json_files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Json6",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Load_Json_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Load_Json_files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Load_data_from_json_tables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Json10",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable25",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@substring(item().name,0,lastIndexOf(item().name,'_'))",
											"type": "Expression"
										},
										"tablename": {
											"value": "@substring(item().name,add(indexOf(item().name,'_'),1),sub(lastIndexOf(item().name,'.'),add(indexOf(item().name,'_'),1)))\n",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Error_files",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Load_data_from_json_tables",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Json11",
									"type": "DatasetReference",
									"parameters": {
										"filename_error": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json12",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Load_data_from_json_tables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{pipeline().RunId}' as RunId,\n'@{item().name}' as Source,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('Load_data_from_json_tables').output.rowsCopied}' as rowsCopied,\n'@{activity('Load_data_from_json_tables').output.rowsRead}' as RowsRead,\n'@{activity('Load_data_from_json_tables').output.usedParallelCopies}' as No_ParallelCopies,\n'@{activity('Load_data_from_json_tables').output.copyDuration}' as copyDuration_in_secs,\n'@{activity('Load_data_from_json_tables').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('Load_data_from_json_tables').output.executionDetails[0].source.type}' as Source_Type,\n'@{activity('Load_data_from_json_tables').output.executionDetails[0].sink.type}' as Sink_Type,\n'@{activity('Load_data_from_json_tables').output.executionDetails[0].status}' as Execution_Status,\n'@{activity('Load_data_from_json_tables').output.executionDetails[0].start}' as CopyActivity_Start_Time,\n'@{utcnow()}' as CopyActivity_End_Time,\n'@{activity('Load_data_from_json_tables').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_queuingDuration_in_secs,\n\n'@{activity('Load_data_from_json_tables').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_transferDuration_in_secs\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable30",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable31",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "count_comparision",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[pipelinelog_test]",
								"storedProcedureParameters": {
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"Rowcnt": {
										"value": {
											"value": "@activity('Copy data1').output.rowscopied",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lnk_azuresql",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-12-11T05:46:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}